<div class="col-md-8" id="items-list">
  <% if @project.active_items.empty? %>
    <div>No items.</div>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
        </tr>
      </thead>
      <tbody>
        <% @project.active_items.each do |item| %>
          <tr>
            <td class=<%="#{item.done? ? "done" : "not-done"}"%>><%= item.action %></td>
            <% unless item.done? %>
              <td>
                <div class="button-inline">
                  <%= button_to "Done", 
                    project_item_path(@project, item, :item => { :done => true }),
                    :method => :put, :class => "btn btn-primary btn-sm"
                  %>
                </div>
                <div class="button-inline">
                  <%= button_to "Edit", edit_project_item_path(@project, item),
                    :method => :get, :class => "btn btn-sm btn-secondary" %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="row items-buttons">
    <%= button_to "Clear Completed Items", clear_project_path(project),
      :method => :delete, :id => "clearer",
      :class => "btn btn-sm btn-secondary btn col-md-3" %>
    <%= button_to "New Item", new_project_item_path(project), 
      :method => :get, :class => "btn btn-success btn-sm col-md-2 col-md-offset-6 new-item" %>
  </div>
</div>

