<div class="row">
  <h2 class="col-md-offset-2">Projects</h2>
</div>

<% if @projects.empty? %>
  <div class='row'>
    <div class='col-md-4'>
      No project to display
    </div>
  </div>
<% else %>
  <% @projects.each do |project| %>
    <div class='row project-row'>
      <div class='col-md-3 project-name text-right'>
        <%= project.title %>
      </div>
      <div class='button-inline'>
        <%= button_to 'See Items', project_path(project),
          :method => :get,
          :class => 'btn btn-sm btn-primary'%>
      </div>
      <div class='button-inline'>
        <%= button_to 'Edit', edit_project_path(project),
          :method => :get,
          :class => 'btn btn-sm btn-secondary' %>
      </div>
      <div class='button-inline'>
        <%= button_to 'Destroy', project,
          :method => :delete, :data => { :confirm => 'Are you sure?' },
          :class => 'btn btn-sm btn-warning' %>
      </div>
    </div>
  <% end %>
<% end %>

<div class='row new-project-row'>
  <div class='col-md-3 col-md-offset-7'>
    <%= button_to 'New Project', new_project_path,
      :method => :get,
      :class => 'btn btn-sm btn-success'%>
  </div>
</div>
