<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Tada! Todo List</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="row">
      <h1 class="col-md-4">Tada! Todo List</h1>
      <nav class="col-md-8">
        <%= link_to "All Projects", projects_path %>
      </nav>
    </header>

    <div id="main">
      <% if flash[:notice] %>
        <p id="notice" class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p id="error" class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>
      <%= yield %>
    </div>

    <footer>
      <p>2015</p>
    </footer>
  </body>
</html>
